*{
    font-family: sans-serif, arial;
    margin: 0;
    padding: 0;  
}

/* General Reset */
body, ul, li, a {
    list-style: none;
    color: #000000;
    text-decoration: none;
}

/* Navbar Container */
header {
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    align-content: center;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.navbar-left, .navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Logo */
.logo img {
    width: 100px;
}

/* Left Options */
.navbar-left li a {
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-left li a:hover {
    color: #006341; 
}

/* Right Options */
.navbar-right .login, .unete {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.unete{
    color: white;
    background-color: #000000;
}

.navbar-right .login:hover, .navbar-right .unete:hover {
    background-color: #015643; 
    border-color: #015643;
    color: #ffffff; 
}

/* Secciones de imagenes */
.sections{
    margin: 0% 3% 3% 3%;
    position: relative;  /* Asegura que el contenido no se solape con el encabezado */
    top: 80px; 
    margin-bottom: 14vh;
}

#seccion1{
    background: #015643;
}

#seccion2{
    background: #212A82;
}

#seccion3{
    background: #E50040;
}

#seccion4{
    background: #041E13;
}

#seccion5{
    background: #7C031C;
}

#seccion1, #seccion2, #seccion3, #seccion4, #seccion5{
    width: 100%;
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    margin-bottom: 3%;
}

.text{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
    width: 34%;
}

.parrafo{
    margin-top: 20px
}

.imagen1{
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
}

.imagen2{
    width: 40vw;
    height: 64vh;
    border-radius: 10px;
}

.imagen3{
    width: 35vw;
    height: 58vh;
    border-radius: 10px;
}

.imagen4{
    width: 30vw;
    height: 65vh;
    border-radius: 10px;
}

.imagen5{
    width: 48vw;
    height: 58vh;
    border-radius: 10px;
}

/* Última sección */
#seccion6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container1, .container2 {
    background-color: #F6BFD9; 
    color: #D50032;
    width: 100%;
    max-width: 49%;
    max-height: 50%;
    box-sizing: border-box; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: #98CDE4;
    color: #003B49;
}

.img-container1, .img-container2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container1, .text-container2 {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.btn-container1, .btn-container2 {
    background: none;
    border: 1px solid;
    border-color: #003B49;
    color: #003B49;
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 70px;
}

.btn-container1{
    color: #D50032;
    border-color: #D50032;
}

/* fin */

/* Menú hamburguesa */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 4px;
    margin: 4px 0;
    background-color: white;
}

.fas.fa-map-marker-alt {
    font-size: 20px;
}

/* Menú en dispositivos móviles */
.navbar-links {
    display: none; 
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.navbar-links li {
    text-align: center;
}

.navbar-links a {
    font-size: 16px;
    padding: 10px 0;
    display: block;
}

/* Mostrar el menú de opciones cuando se hace clic en el icono de hamburguesa */
#menu-icon.active + #navbar-links {
    display: flex;
}


/* FOOTER */
footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 -3px 3px rgba(0,0,0,.1);
    padding-top: 50px;
}

i {
    font-size: 30px;
    color: #000000;
    margin: 25px 0;
}


.footer-container {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column{
    margin-left: 50px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a {
    color: rgb(141, 141, 141);
    text-decoration: none;
}

.footer-column a:hover {
    color: #000000;
}

.separator, .separator-bebidas {
    margin: 20px 0;
    border-top: 1px solid #ccc;
    width: 80%;
    justify-self: center;
}

.separator-bebidas{
    width: 100%;
}

.footer-socials {
    text-align: center;
    margin-top: 10px;
}

.footer-socials a {
    margin: 0 15px;
    color: rgb(97, 96, 96);
    text-decoration: none;
}

.footer-socials a:hover {
    color: #000000; 
    text-decoration: none;
}

.footer-links {
    text-align: center;
    margin-top: 10px;
}

.footer-links a {
    color: #777777;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #999;
    text-align: center;
    font-size: .875rem;
    font-weight: 300;
    margin-top: 20px;
}


/* Menu desplegable en footer */
.footer-column ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-column i {
    display: none;
    cursor: pointer;
    margin-left: 15px;
    transition: transform 0.3s ease;
}

/* Cambia la dirección de la flecha cuando el menú está abierto */
.footer-column.open i {
    transform: rotate(180deg); /* Rota la flecha hacia arriba */
}
/* Fin footer */

.item-rewards{
    left: 0;
}


@media (max-width: 768px) {
    .navbar{
        justify-content: space-between;
    }

    .sections {
        margin: 0;
        padding: 0;
    }

    /* Sección 1 */
    #seccion1, #seccion2, #seccion3, #seccion4, #seccion5 {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
        margin-bottom: 2rem; 
        border-radius: 0;
    }

    #seccion2, #seccion4{
        flex-direction: column-reverse
        ;
    }

    #seccion1 img, #seccion2 img, #seccion3 img, #seccion4 img, #seccion5 img {
        width: 100%; 
        height: auto; 
    }

    .text {
        width: 90%; 
        margin-top: 1rem; 
        text-align: center; 
        font-weight: 500;
    }

    .parrafo {
        font-size: calc(1.0188rem + .2256vw); 
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #seccion6 {
        display: flex;
        flex-direction:column;
        align-items: center;
        
    }

    .container1, .container2 {
        width: 100%; 
        max-width: none; 
        margin-bottom: 1rem; 
        border-radius: 0;
    }

    .img-container1, .img-container2 {
        width: 100%; 
        height: auto; 
        border-radius: 0;
    }

    .text-container1, .text-container2 {
        font-size: 16px;
        text-align: center;
        margin: 10px 0; 
    }

    .btn-container1, .btn-container2 {
        padding: 8px 20px;
        font-size: calc(1.0188rem + .2256vw); 
    }

    .navbar-right {
        display: none; 
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #ffffff;
        width: 200px;
        text-align: left;
        padding: 30px;
    }

    .menu-icon {
        display: flex;
    }

    .navbar-right.active {
        display: block;
        height: 150vh;
        width: 80vw;
    }

    .items-navbar{
        margin-bottom: 30px;
    }
    
    .item-rewards{
        margin-bottom: 20px;
    }

    /* footer{
        margin-top: 40px;
    } */

    .footer-container{
        display: block;
        max-width: 100vw;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .footer-column{
        margin: 20px;
    }

    .footer-socials{
        text-align: start;
    }

    .footer-links{
        text-align: start;
        margin-left: 20px;
    }

    .footer-links a{
        display: block;
        line-height: 2.5rem;
    }

    .footer-copyright{
        text-align: start;
        margin-left: 20px;
    }

    .footer-column{
        margin-bottom: 40px;
    }

    .footer-column h4{
        font-weight: 400;
    }

    .footer-column ul {
        display: none; 
    }

    .footer-column.open ul {
        display: block;
    }

    .footer-column i{
        display: inline;
    }

    i.fas.fa-chevron-down{
        font-size: 18px;
    }

}








