*{
    font-family: sans-serif, arial;
    margin: 0;
    padding: 0;
    
}

/* General Reset */
body, ul, li, a {
    list-style: none;
    color: #000000;
    text-decoration: none;
}

/* Navbar Container */
header {
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    align-content: center;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-left, .navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}


/* Logo */
.logo img {
    width: 100px;
}

/* Left Options */
.navbar-left li a {
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-left li a:hover {
    color: #006341; /* Verde más brillante */
}

/* Right Options */
.navbar-right .login, .unete {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.unete{
    color: white;
    background-color: #000000;
}

.navbar-right .login:hover {
    background-color: #015643; /* Fondo verde */
    border-color: #015643;
    color: #ffffff; /* Texto blanco */
}


.navbar-right .unete:hover {
    background-color: #015643; /* Fondo verde */
    border-color: #015643;
    color: #ffffff; /* Texto blanco */
}


/* Secciones de imagenes */
.sections{
    margin: 0% 3% 3% 3%;
    position: relative;  /* Asegura que el contenido no se solape con el encabezado */
    top: 80px; 
    margin-bottom: 14vh;
}

#seccion1{
    background: #015643;
}

#seccion2{
    background: #212A82;
}

#seccion3{
    background: #E50040;
}

#seccion4{
    background: #041E13;
}

#seccion5{
    background: #7C031C;
}

#seccion1, #seccion2, #seccion3, #seccion4, #seccion5{
    width: 100%;
    color: #ffffff;
    display: flex;
    border-radius: 10px;
    margin-bottom: 3%;
}

.text{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
    width: 34%;
}

.parrafo{
    margin-top: 20px
}

.imagen1{
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
}

.imagen2{
    width: 40vw;
    height: 64vh;
    border-radius: 10px;
}

.imagen3{
    width: 35vw;
    height: 58vh;
    border-radius: 10px;
}

.imagen4{
    width: 30vw;
    height: 65vh;
    border-radius: 10px;
}

.imagen5{
    width: 48vw;
    height: 58vh;
    border-radius: 10px;
}

/* Última sección */
#seccion6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container1, .container2 {
    background-color: #F6BFD9; 
    color: #D50032;
    width: 100%;
    max-width: 49%;
    max-height: 50%;
    box-sizing: border-box; /* Asegura que el padding no agrande el contenedor */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    background-color: #98CDE4;
    color: #003B49;
}

.img-container1, .img-container2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container1, .text-container2 {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.btn-container1, .btn-container2 {
    background: none;
    border: 1px solid;
    border-color: #003B49;
    color: #003B49;
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 70px;
}

.btn-container1{
    color: #D50032;
    border-color: #D50032;
}

/* fin */

/* FOOTER */
footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

i {
    font-size: 30px;
    color: #000000;
    margin: 25px 0;
}


.footer-container {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column{
    margin-left: 50px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column a {
    color: rgb(141, 141, 141);
    text-decoration: none;
}

.footer-column a:hover {
    color: #000000;
}

.separator {
    margin: 20px 0;
    border-top: 1px solid #ccc;
}

.footer-socials {
    text-align: center;
    margin-top: 10px;
}

.footer-socials a {
    margin: 0 15px;
    color: rgb(97, 96, 96);
    text-decoration: none;
}

.footer-socials a:hover {
    color: #000000; /* Un verde similar a Starbucks */
    text-decoration: none;
}

.footer-links {
    text-align: center;
    margin-top: 10px;
}

.footer-links a {
    color: #777777;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #777777;
    text-align: center;
    margin-top: 20px;
}

/* Página REWARDS */
.rewards-container{
    display: flex;
    /* height: calc(100vh - 60px); */
}

/* Izquierda  */
.left-container{
    position: fixed;
    width: 40vw;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: rgb(204, 204, 204) 7px 0px 4px -4px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#letras-rewards{
    max-width: 300px;
}

#encabezado-izq{
    font-size: 26pt;
}

#botones-left{
    display: flex;
    gap: 60px;
    margin-top: 40px;
}

.btn-login-izq{
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 6px 12px;
}

.btn-unete-izq{
    color: rgb(51, 51, 51);
    background-color: white;
    border-radius: 35px;
    font-weight: bold;
    padding: 6px 12px;
}


/* Derecha */
.right-container{
    margin-left: 40vw;  
    margin-top: 8vh;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: 212529;
    height: 100vh;  
    flex-grow: 1;  /* Hace que la sección derecha ocupe el espacio restante */
    box-sizing: border-box;
}

h2{
    font-size: 1.3rem;
}

.img-rewards{
    max-width: 140px;
    max-height: 130px;
    width: 100%;
    height: auto;
}

.unete-container, .cafes-y-recompensas, .estrellas-y-recompensas, .ordena-y-paga, .experiencia-llena-de-recompensas, .conoce-mas, .img-final{
    padding: 50px;
}

.imgs1, .imgs2{
    display: flex;
    flex-wrap: wrap;  
}

.imgs1{
    margin-bottom: 9%;
}

.imgs2{
    margin-top: 35px;
}


.txt-unete{
    font-weight: bold;
}

.unete-container{
    width: 80%;
    justify-self: center;
}

.unete-container h2{
    font-weight: 400;
    margin-bottom: 30px;
}

#title-obten{
    font-size: 1.3rem;
}


.img-unete{
    width: calc(25% - 10px);  /* Establece que cada imagen ocupe el 25% del ancho del contenedor, restando el espacio de gap */
    object-fit: cover;
    gap: 10px;
}

.cafes-y-recompensas{
    background: rgb(241, 240, 235);
    /* max-width: 50%; */
}

.cafes-y-recompensas-inside{
    max-width: 50%;
    justify-self: center;
}

.estrellas-y-recompensas .completa{
    display: flex;
    margin-top: 30px;
}

.estrellas-y-recompensas .completa-inside{
    width: 60%;
}

.estrellas-y-recompensas .pasos, .img-y-text{
    display: flex;
    margin-left: 10px;
}

.img-y-text{
    text-align: left;
}

.pasos{
    width: 100%;
}

.paso{
    content: '1';
    color: #ffffff;
    font-weight: 600;
    height: 20px;
    width: 20px;
    padding: 10px;
    background-color: #003B49;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.img-pasos{
    justify-items: center;
    align-self: center;
    max-width: 30%;
    min-height: 50% !important;
}

.estrellas-y-recompensas h2{
    margin-bottom: 16px;
}

.ordena-y-paga{
    background-color: rgb(237, 235, 233);
}

.ordena-y-paga .fila1, .ordena-y-paga .fila2, .fila1 .item, .fila2 .item{
    display: flex;
}

.fila1 .item, .fila2 .item{
    margin: 15px;
    align-items: center;
}

.fila1 .item img, .fila2 .item img{
    width: 30%;
}

.fila1 .item .estrella, .fila2 .item .estrella{
    height: 40%;
    width: auto;
}

.ordena-y-paga .personaliza-tu-experiencia{
    margin-top: 40px;
}

.personaliza-tu-experiencia{
    width: 60%;
    justify-self: center;
}

.personaliza-tu-experiencia .text-y-gif{
    margin-top: 20px;
    text-align: left;
}

.text-y-gif h3{
    font-weight: bold;
    margin-bottom: 10px;
}

.text-y-gif img{
    margin-top: 20px;
    max-width: 45%;
    max-height: 30%;
    margin-left: 20%;
}

.experiencia-llena-de-recompensas{
    width: 65%;
    justify-self: center;
}

.experiencia-llena-de-recompensas .img-gif{
    max-width: 45%;
    max-height: 50%;
    margin: 20px 0;
}

.img-app, .img-regalo{
    margin: 30px 0;
}

.img-regalo{
    max-width: 35%;
    max-height: 35%;
}


.conoce-mas{
    background-color: #ecebe5;
    justify-content: center;
    display: flex;
    text-align: left;
}

.conoce-mas img{
    max-width: 30%;
    max-height: 20%;
}

.conoce-mas h3{
    margin-bottom: 10px;
}

.text-conoce-mas{
    margin-left: 10px;
    align-self: center;
}

.img-final img{
    max-width: 30%;
}










